{% extends "base.html" %}
{% block title %}Mini JobNinja - per Link zum neuen Job{% endblock %}
{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div>
            <input placeholder="Search" type="text" v-model="searchLine">
            <button type="submit" @click="getData(1)">Search</button>
        </div>
        <vacancies v-bind:jobs="jobs"></vacancies>
        <pages v-bind:total-pages="totalPages" @update="getData($event)"></pages>
        <message v-bind:is-visible="isVisibleMessage"></message>
    </div>
{% endblock %}
{% block script %}
    <!-- Note: when deploying to production, delete /dist/vue.js». -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="{{ url_for('static', filename='vue_js/index.js') }}"></script>
{% endblock %}
